body,html{
	height: 100%;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.header, .footer{
	width: 100%;
	background: #97c804;
    height: 15vh;
}

.drag-container{
    height: 100vh;
    background: #000000;
    position: relative;
    overflow: hidden;
}


.main-top{
	background: red;
    height: 50%;
}

.main-bottom{
	background: blue;
    height: 50%;
}

#drag-bar{
	position: absolute;
    z-index: 3;
    height: 20px;
    width: 100%;
    cursor: ;
    background: grey;
}

